.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-item {
  align-self: center;
  border-bottom: none !important;
}

.material-icons {
  cursor: pointer;
  margin-right: 5px;
}

.nav-wrapper {
  /* background-color: rgb(191, 20, 82); */
  background-color: rgb(227, 43, 76);
  padding-left: 10px;
  height: 50px;
  a {
    left: 1rem;
  }
}

.wrapper {
  margin: 40px 30px 20px 30px;
}

body {
  background-color: black;
}

h4 {
  color: white;
}
