.gif-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  height: 600px;
  justify-content: center;

  /* @media screen and(max-width: 500px) {
    flex-direction: row;
  } */
}

.gif-item {
  align-self: center;
  border-bottom: none !important;
  margin: 3px 6px;
}

.material-icons {
  cursor: pointer;
  margin-right: 5px;
}

.nav-wrapper {
  background-color: rgb(227, 43, 76);
  padding-left: 10px;
  height: 50px;
  a {
    left: 1rem;
  }
}

.wrapper {
  margin: 40px 30px 20px 30px;
}

body {
  background-color: black;
}

.trending-title {
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
  color: rgb(208, 209, 210);
}

.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

input {
  background-color: white !important;
  padding-left: 10px !important;
  font-size: 16px !important;
  width: 100% !important;
  font-family: 'interface', 'Helvetica Neue', helvetica, sans-serif;
}
